/* background */
body {
    padding: 30px;
    background-image: url('images/wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#top {
    font-size: 150px;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
}

h2 {
    font-size: 40px;
    color: rgba(90, 200, 202, 0.609);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* main titles */
h3 {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* main frame */
#start {
    height: auto;
    width: auto;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.602);
}

/* dots on list under "ul" */
#main_list > li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: lightblue;
}

a:hover {
    text-decoration: none;
    color: rgb(0, 97, 252) !important;
}

a:visited {
    text-decoration: none;
    color: lightblue;
}

a:link {
    text-decoration: none;
}

/* descriptions - general */
p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    width: auto;
}